*.t3
*.t3s
*.t3o
.DS_Store
GameInfo.txt
extensions/eval.t
tester/GameInfo.txt
tester/run-parser-tests.sh 
tester/parser.t3m
tester/parser-tests.t

tester/init-obj
tester/additional-obj
tester/past-obj
tester/present-obj
tester/satsdelar-obj
tester/obj

lib/en_us
.lsp
.vscode
.clj-kondo
